/* Geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{

    background-color: #f4fcf6fc;
}


.flex{
     display: flex;
}
 
.interface{
     max-width: 1280px;
     margin: 0 auto;
}

/* Formulario */

.form{

    position: absolute;
    top: 23%;
    left: -0.3%;
    padding: 247px 186.4px;
    margin: 10px 10px;
    background-color: #07274b;
    border-radius: 25px;

}

#logo{

    height: 100px;
    width: auto;
    position: absolute;
    top: 0.1%;
    left: 29.2%;
}

#nome-txt{
    color: white;
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    top: 3%;
    left: 40.5%;
}

#nome{
    font-size: 15px;
    width: 90%;
    padding: 8px 20px 8px;
    border-radius: 20px;
    position: absolute;
    top: 12%;
    left: 5%;
}

#email-txt{
    color: white;
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    top: 23%;
    left: 40.5%;
}

#email{
    font-size: 15px;
    width: 90%;
    padding: 8px 20px 8px;
    border-radius: 20px;
    position: absolute;
    top: 32%;
    left: 5%;
}

#veiculo-txt{
    color: white;
    font-size: 19px;
    font-weight: 300;
    position: absolute;
    top: 43%;
    left: 29%;
}

#veiculo{
    font-size: 15px;
    width: 90%;
    padding: 8px 20px 8px;
    border-radius: 20px;
    position: absolute;
    top: 52%;
    left: 5%;
}

#senha-txt{
    color: white;
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    top: 63%;
    left: 39%;
}

#senha{

    font-size: 15px;
    width: 90%;
    padding: 8px 20px 8px;
    border-radius: 20px;
    position: absolute;
    top: 71%;
    left: 5%;

}

#btn{
    position: absolute;
    top: 85%;
    left: 25%;
    background-color: #1d99c8;
    padding: 10px 70px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

#cadastro{

    color: #07274b;
    font-size: 35px;
    font-weight: 300;
    position: absolute;
    top: 15%;
    left: 28%;

}

#voltar{

    
    position: absolute;
    top: 3%;
    left: 4%;
    text-decoration: none;
    color: #07274b;


}